<div class="post-container">
  <h2>Question: <%= @question.title %></h2>
  <p><%= @question.question %></p>
  <p>Written by <%= @question.user.first_name %> on <%= @question.created_at %></p>
  <p class="question_points">Points: <%=@question.votes.sum(:vote_value)%></p>

  <%if @question.user.id == session[:user_id]%>
    <form method="get" action="/questions/<%=@question.id%>/edit">
      <input type="submit" value="edit my question">
    </form>

    <form method="post" action="/questions/<%=@question.id%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete my question">
    </form>
    <p>------------------------------</p>
  <%elsif logged_in?%>

    <form action="/questions/<%= @question.id %>/upvote" class="upvote_question" method="post">
      <input type="submit" value="Upvote" width="100" >
    </form>

    <form action="/questions/<%= @question.id %>/downvote" class="downvote_question" method="post">
      <input type="submit" value="Downvote" width="100" >
    </form>

    <form action="/questions/<%=@question.id%>/comments/new" method="get">
      <input type="submit" value="Add a comment" width="100">
    </form>

    <%@question.comments.each do |comment|%>
     <p>------------------------------</p>
      <p>Comment: <%= comment.comment%> by <%= comment.user.username%>. Points: <%=comment.votes.sum(:vote_value)%></p>
      <%if comment.user_id != session[:user_id]%>
        <form action="/comments/<%= comment.id %>/upvote" method="post">
          <input type="submit" value="Upvote" width="100" class="upvote">
        </form>

        <form action="/comments/<%= comment.id %>/downvote" method="post">
          <input type="submit" value="Downvote" width="100" class="downvote">
        </form>
      <% end %>
    <% end %>
  <p class = "answer_container">------------------------------</p>
  <div class="answer_url" data-url="/questions/<%=@question.id%>/answers/new">
  <form class="answer_form" method="get" action="/questions/<%=@question.id%>/answers/new">
    <input type="submit" value="Post your answer">
  </form>
  </div>
  <p>------------------------------</p>

  <% end %>

  <h2>Answers</h2>
  <ul>
  <% @answers.each do |answer|%>
    <li><%=answer.answer%> written by <%= answer.user.username %></li>

    <div>
      <p class="answer_points">Points: <%=answer.votes.sum(:vote_value)%></p>


    <%if answer.user_id == session[:user_id]%>

      <form method="get" action="/answers/<%=answer.id%>/edit">
        <input type="submit" value="edit my answer">
      </form>
      <form method="post" action="/answers/<%=answer.id%>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete my answer">
      </form>
    <%else%>
      <form action="/answers/<%= answer.id %>/upvote" method="post" class="upvote_answer">
        <input type="submit" value="Upvote" width="100" >
      </form>

      <form action="/answers/<%= answer.id %>/downvote" method="post" class="downvote_answer">
        <input type="submit" value="Downvote" width="100" >
      </form>

    <% end %>
</div>
      <a href="/answers/<%=answer.id%>/comments/new">Add a comment</a>
      <%answer.comments.each do |comment|%>
        <p>Comment: <%= comment.comment%> by <%= comment.user.username%></p>

      <% end %>
  <p>------------------------------</p>
  <%end%>
  </ul>
</div>
