<div class=".post-container">
  <h1>Question: <%= @question.title %></h1>
  <p><%= @question.question %></p>
  <p>Written by <%= @question.user.first_name %> on <%= @question.created_at %></p>

  <%if @question.user.id == session[:user_id]%>
  	<form method="get" action="/questions/<%=@question.id%>/edit">
  		<input type="submit" value="edit my question">
  	</form>

  	<form method="post" action="/questions/<%=@question.id%>">
  		<input type="hidden" name="_method" value="delete">
  		<input type="submit" value="delete my question">
  	</form>
    <p>------------------------------</p>
  <%elsif logged_in?%>

    <form action="/questions/<%= @question.id %>/upvote" method="post">
      <input type="submit" value="Upvote" width="100" class="upvote">
    </form>

    <form action="/questions/<%= @question.id %>/downvote" method="post">
      <input type="submit" value="Downvote" width="100" class="downvote">
    </form>

    <form action="/questions/<%=@question.id%>/comments/new" method="get">
      <input type="submit" value="Add a comment" width="100">
    </form>

    <%@question.comments.each do |comment|%>
    <p><%= comment.comment%> by <%= comment.user.username%></p>
    <% end %>
  <p>------------------------------</p>
  <form method="get" action="/questions/<%=@question.id%>/answers/new">
    <input type="submit" value="Post your answer">
  </form>
  <p>------------------------------</p>

<% end %>

<h2>Answers</h2>

<ul>
<% @answers.each do |answer|%>
  <li><%=answer.answer%> written by <%= answer.user.username %></li>
  <%if answer.user_id == session[:user_id]%>
    <form method="get" action="/answers/<%=answer.id%>/edit">
      <input type="submit" value="edit my answer">
    </form>

  <form method="post" action="/answers/<%=answer.id%>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete my answer">
  </form>
  <%else%>
   <a href="/answers/<%=answer.id%>/comments/new">Add a comment</a>
    <%answer.comments.each do |comment|%>
    <p><%= comment.comment%> by <%= comment.user.username%></p>
    <% end %>
  <% end %>

<%end%>
</ul>
</div>
